doctype html
html(ng-app='WebRTCApp')
    head
        title WebRTC Conference App
        // licode scripts
        script(type='text/javascript', src='/js/erizo.js')

        // Angular
        script(type='text/javascript', src='/bower_components/angular/angular.min.js')
        script(type='text/javascript', src='/bower_components/angular-route/angular-route.min.js')
        script(type='text/javascript', src='/bower_components/angular-resource/angular-resource.min.js')
        script(type='text/javascript', src='/js/app/app.js')
        script(type='text/javascript', src='/js/app/controllers.js')
        script(type='text/javascript', src='/js/app/directives.js')
        script(type='text/javascript', src='/js/app/services.js')
        // Bootstrap
        script(type='text/javascript', src='/bower_components/jquery/dist/jquery.min.js')
        link(rel='stylesheet', type='text/css', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
        script(type='text/javascript', src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
    body
        block content
        .content(ng-view='ng-view')