
<div class="col-md-8 col-md-offset-2" style="border-width: 0px 1px; border-color: #004444;border-style: solid">
    <h1>Conference
    </h1>
    <div class="row">
        <div class="col-md-4" id="selfVideo">
            <div id="myVideo" style="width:320px; height: 240px;">
            <!--<video autoplay="autoplay" id="selfVideo" style="border:1px solid red" class="easyrtcMirror" muted width="300px" height="300px"></video>-->
            </div>
            <div>
                <button class=" btn btn-info" ng-click="mute()">Mute</button>
                <button class=" btn btn-warning" ng-click="unMute()">unMute</button>
            </div>
        </div>
        <div class="col-md-8" style="border-left: 1px solid black">
            <div style="margin: 20px 20px 0px 0px; width: 220px;height:220px; float:left; border: 1px solid #ffe87c" ng-repeat="stream in streams" id="{{stream.getID()}}">
                <!--<video class="remote" id="{{man}}" width="220px" height="220px" autoplay="autoplay">  </video>-->
            </div>




        </div>



    </div>
</div>


<!--<div id="videoDemoContainer">-->
    <!--<div id="connectControls">-->
        <!--<button id="connectButton" onclick="connect()">Connect</button>-->
        <!--<button id="hangupButton" disabled="disabled" onclick="hangup()">Hangup</button>-->
        <!--<strong>Connected users:</strong>-->
        <!--<div id="otherClients"></div>-->
    <!--</div>-->

    <!--<div id="videos">-->
        <!--<video autoplay="autoplay" id="selfVideo" class="easyrtcMirror" muted width="200px" height="200px"></video>-->
        <!--<video autoplay="autoplay" id="callerVideo" width="200px" height="200px"></video>-->
        <!--<video autoplay="autoplay" id="callerVideo1" width="200px" height="200px"></video>-->
        <!--<div id="acceptCallBox"> &lt;!&ndash; Should be initially hidden using CSS &ndash;&gt;-->
            <!--<div id="acceptCallLabel"></div>-->
            <!--<button id="callAcceptButton" >Accept</button> <button id="callRejectButton">Reject</button>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->