<div class="col-md-8 col-md-offset-2" style="border-width: 0px 1px; border-color: #004444;border-style: solid">
    <div class="row">
        <div class="col-md-8">
            <h1>Rooms</h1>
        </div>
        <!--<div class="col-md-2" >-->
            <!--<input type="text" placeholder="Name of new room.." style="margin-top: 20px" ng-model="newRoomName" class="pull-right form-control" >-->
       <!---->
        <!--</div>-->
        <div class="col-md-2">
            <button type="button" class="btn btn-primary pull-right" style="margin-top: 20px" data-toggle="modal" data-target="#myModal">
               Create a new room
            </button>

            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <h4 class="modal-title" id="myModalLabel">Creating a new room</h4>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal" role="form">
                                <div class="form-group">
                                    <label for="inputName" class="col-sm-2 control-label">Name</label>
                                    <div class="col-sm-10">
                                        <input type="email" class="form-control" id="inputName" placeholder="Room name">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputDescription" class="col-sm-2 control-label">Description</label>
                                    <div class="col-sm-10">
                                        <textarea class="form-control" id="inputDescription" placeholder="Description"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputPassword" class="col-sm-2 control-label">Password (optional)</label>
                                    <div class="col-sm-10">
                                        <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputBW" class="col-sm-2 control-label">Bandwidth (admin)</label>
                                    <div class="col-sm-10">
                                        <div class="row">
                                            <div class="col-sm-1">300</div>
                                            <div class="col-sm-9">
                                                <input type="range" min="300" max="1000" step="50" value="700"  id="inputBW" ng-model="adminBW">
                                            </div>
                                            <div class="col-sm-1">1000</div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-10 text-center">
                                                <b>{{adminBW}}</b>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputUserBW" class="col-sm-2 control-label">Bandwidth (users)</label>
                                    <div class="col-sm-10">
                                        <div class="row">
                                            <div class="col-sm-1">500</div>
                                            <div class="col-sm-9">
                                                <input type="range" min="500" max="2000" step="50" value="700"  id="inputUserBW" ng-model="userBW">
                                            </div>
                                            <div class="col-sm-1">2000</div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-10 text-center">
                                                <b>{{userBW}}</b>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="numOfUsers" class="col-sm-2 control-label">Number of users</label>
                                    <div class="col-sm-10">
                                        <div class="row">
                                            <div class="col-sm-1">2</div>
                                            <div class="col-sm-9">
                                                <input type="range" min="2" max="10" step="1" value="4"  id="numOfUsers" ng-model="numOfUsers">
                                            </div>
                                            <div class="col-sm-1">10</div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-10 text-center">
                                                <b>{{numOfUsers}}</b>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="muteControl" class="col-sm-2 control-label">MuteControl</label>
                                    <div class="col-sm-10">
                                        <input type="checkbox"  id="muteControl" ng-model="muteControl" placeholder="Room name">
                                    </div>
                                </div>
                            </form>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>


            <!--<button class="btn btn-primary pull-right" style="margin-top: 20px" ng-click="createRoom()">Create a new room</button>-->
        </div>
    </div>

    <div class="row bg-success" ng-repeat="room in rooms" style="margin:10px; padding:5px">
        <p class="lead"><a href="/#/{{room._id}}">{{room.name}} </a></p>
    </div>
</div>